* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
}


.container {
    padding: 30px 10%;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: white;
}

.logo {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.nav__links a,
.cta,
.overlay__content a {
    font-weight: 500;
    color: black;
    text-decoration: none;
    padding: 60px 0%;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.cta {
    padding: 17px 36px;
    border: 2px solid #263238;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.cta:hover {
    background: #263238;
    color: white;
    transition: 0.3s;

}

.content {
    position: absolute;
    width: 386px;
    height: 240px;
    top: 226px;
}

.text {
    font-size: 64px;
    color: #000000;
}

.text__foot {
    font-size: 20px;
    color: #8F95A5;
    margin-top: 59px;
}


button {
    margin-top: 60px;
    background: #263238;
    border-radius: 15px;
    padding: 32px 117px;
    font-size: 26px;
    text-decoration: none;
    color: white;

}

button:hover {
    background: white;
    color: black;
    box-shadow: inset 0 0 0 3px #090d0f;
    transition: 0.3s;

}

.button__text {
    color: #000000;
}

.button__text {
    font-size: 26px;
    text-decoration: none;
    color: white;
}

.img {
    margin: 0 129px;
}

.img1 {

    margin-top: 100px;
    margin-left: 110px;
}

.img2 {
    position: absolute;
    margin-left: 300px;
    width: 500px;

}




.page__2 {
    margin: 0 129px;
    padding-top: 100px;
}

.skl {
    text-align: center;
    margin-top: 500px;
    font-size: 48px;

}

.card {}


.card__1 {
    border-radius: 10px;
    background: #F5F5F5;
    position: absolute;
    width: 435px;
    height: 894px;
    left: 127px;
}

.h1__ {
    font-size: 30px;
    margin: 45px;
}

.text__1 {
    margin: 45px;
    color: #8F95A5;
}

.btn__1 a {
    position: absolute;
    background: #263238;
    border-radius: 5px;
    padding: 17px 64px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin: 36px;
}


.card__2 {}

.card__3 {}

.card__4 {}










/* Mobile Nav */

.menu {
    display: none;

}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #f1f1f7;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 830px) {

    .nav__links,
    .cta {
        display: none;
        margin-left: 400px;
    }

    .menu {
        display: initial;
    }
}

@media only screen and (max-width: 830px) {
    .img2 {
        position: absolute;
        width: 300px;
        height: 300px;
        margin-right: 300px;
    }

    .img1 {
        width: 50px;
        height: 50px;
    }

    .text {
        font-size: 48px;
        left: 29px;
    }

    .text__foot {
        font-size: 20px;
        width: 320px;
        height: 90px;
    }

    button {
        border-radius: 10px;
        padding: 22px 79px;
    }
}

@media only screen and (max-width: 320px) {}